	<ion-view view-title=" Atelier th&eacute;&acirc;tre : enfants" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-theatreenfant" class="page-theatreenfant">
		<div class="padding">
    <div class="cadre">
        <h3>ATELIER THÉÂTRE : ENFANT</h3>
        <h5><strong>Vous cherchez des cours de théâtre à Hong Kong ? CHORUS propose une initiation aux techniques de base du théâtre.</h5>

        

        <p>À travers des exercices d’expression corporelle, de mime et d’improvisation, les enfants travaillent leur voix ainsi que la gestion de l’espace. Tout en s’amusant, ils développent une aisance à l’oral et par conséquent renforcent leur confiance en eux-mêmes.<br/>
            <br/>
            La participation à un ou plusieurs spectacles permet donc à chacun d’appliquer cet apprentissage, de développer sa concentration ainsi que d’exprimer son imagination créatrice, le tout dans le respect et l’écoute de l’autre.</p>

    </div>
      <br/>
        
    <div class="cadre">
        <h4>Où :</h4>
        <strong>Mardi </strong>: Les Danseurs Dance Academy – Causeway Bay <br/>
        <strong>Mercredi, jeudi, vendredi et samedi :</strong> Stanley Sports Center<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en groupe<br/>
        <br/>
        <h4>Age :</h4>
        4 à 17 ans<br/>
        <br/>
        <h4>Durée :</h4>
        1h par semaine. Les programmes sont définis sur la base d’un trimestre. Il est également possible de rejoindre un groupe en cours de trimestre.<br/>
        <br/>
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
<br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
