	<ion-view view-title=" Cours de chant" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-chant" class="page-chant">
		<div class="card">  
  
      <div class="cadre">
        <h3>CHANT</h3>
        <h5><strong>Vous cherchez des cours de chant à Hong Kong et souhaitez chanter au sein d’un groupe de façon ludique et conviviale ? Nous vous proposons d’acquérir aisance et expérience en rejoignant un groupe acoustique ou électrique. </h5>

        

        <p>En ce qui concerne ce cours, l’interprétation et l’aisance scénique font partie des objectifs. Les groupes de chant se déroulent selon votre niveau avec accompagnement (guitare ou groupe). Les groupes de Causeway Bay ont accès au matériel d’amplification (micro) de sorte à se familiariser avec les outils scéniques. Le répertoire couvre essentiellement la chanson française (ancienne et moderne) ainsi que la musique Pop Folk en langue anglaise. Vous pourrez également participer à un de nos nombreux concerts selon votre envie.</p>

    </div>
        <br/>
    <div class="cadre">
        <h4>Où :</h4>
        <strong>Samedi </strong>: MUSICLAND – 19 Tung Lo Wan Road – Causeway Bay<br/>
        <strong>Mercredi :</strong> Stanley Sports Center<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en petit groupe<br/>
        <br/>
        <h4>Niveau :</h4>
        chanteurs débutants à confirmés<br/>
        <br/>
        <h4>Durée :</h4>
        chaque cours dure une heure. Les programmes sont définis sur la base d’un demi-trimestre. Il est possible de rejoindre un groupe en cours de programme.<br/>
        
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>
    </div>
  

    <div>
      <iframe width="400" height="250" src="https://www.youtube.com/embed/sQAO0UkYnaI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        
        
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
