	<ion-view view-title=" Cours de philosophie" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-philosophie" class="page-philosophie">
		<div class="padding">
    <div class="cadre">
        <h3>COURS DE PHILOSOPHIE</h3>
        <h5><strong>Vous cherchez des cours de philosophie à Hong Kong ? </h5>

        

        <p>
            
            Réussir les épreuves de philosophie au bac demande en effet un travail et un entrainement réguliers. De surcroît, cette « nouvelle » matière déroute parfois les élèves. De fait, tout au long de l’année, nous proposons de les aider à revoir les définitions des notions clés, les éléments essentiels de leur cours ainsi que la méthode du commentaire de texte et de la dissertation.

        </p>

    </div>
      <br/>
        
    <div class="cadre">
        <h4>Où :</h4>
        Tai Tam<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en petit groupe ou individuel<br/>
        <br/>
        <h4>Durée :</h4>
        1h30 de cours par semaine.<br/>
        <br/>
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
<br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
