	<ion-view view-title=" Cours de Physique / Chimie" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-physiquechimie" class="page-physiquechimie">
		<div class="padding">
  <div >
    <div class="padding">
    <div class="cadre">
        <h3>COURS DE PHYSIQUE / CHIMIE</h3>
        <h5><strong>Vous cherchez des cours de sciences physiques à Hong Kong ? </h5>

        

        <p>Les cours de sciences physiques portent sur le programme de seconde à celui de la terminale scientifique. Les cours sont animés à Stanley.</p>

    </div>
      <br/>
        
    <div class="cadre">
        <h4>Où :</h4>
        Stanley Sports Center (ou visioconférence)<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en petit groupe<br/>
        <br/>
        
        <h4>Durée :</h4>
        1h ou 1h30 de cours par semaine.<br/>
        <br/>
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
<br/><br/><br/>

</div>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
