	<ion-view view-title=" CHORUS" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-slide_tab_menu" class=" page-slide_tab_menu">
			<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Dashboard" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/chorus/bands" >
								<i class="icon ion-ios-musical-notes" ></i>
								<h2>{{ "Ateliers bands" | translate }}</h2>
								<span class="item-note pull-left">FAQs and Tutorial</span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/guitare" >
								<i class="icon ion-ios-musical-note" ></i>
								<h2>{{ "Guitare" | translate }}</h2>
								<span class="item-note pull-left">Taking a moment to rate this app?</span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/chant" >
								<i class="icon ion-mic-c" ></i>
								<h2>{{ "Chant" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/theatreenfant" >
								<i class="icon ion-android-star-outline" ></i>
								<h2>{{ "Th&eacute;atre enfants" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/theatreadulte" >
								<i class="icon ion-android-star-half" ></i>
								<h2>{{ "Th&eacute;atre adultes" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/coding" >
								<i class="icon ion-ios-game-controller-b" ></i>
								<h2>{{ "Coding" | translate }}</h2>
								<span class="item-note pull-left">Example Menu 1</span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/francais" >
								<i class="icon ion-bookmark" ></i>
								<h2>{{ "Francais" | translate }}</h2>
								<span class="item-note pull-left">Example Menu 2</span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/physiquechimie" >
								<i class="icon ion-erlenmeyer-flask" ></i>
								<h2>{{ "Physique / Chimie" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/chorus/philosophie" >
								<i class="icon ion-flash" ></i>
								<h2>{{ "Philosophie" | translate }}</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
