	<ion-view view-title=" Ateliers bands" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-bands" class="page-bands">
		<div class="padding">
    <div class="cadre">
        <h3>ATELIERS BANDS</h3>
        <h5><strong>Vous cherchez des cours de musique à Hong Kong ? Vous n’avez jamais joué dans un groupe mais souhaiteriez en rejoindre un ? Alors les Ateliers Bands sont faits pour vous.</strong></h5>
        <p>Vous perfectionnerez d’abord votre pratique de l’instrument au sein d’un groupe complet et selon votre niveau, (guitariste, bassiste, batteur, chanteur, etc..) dans un studio de répétition, accompagné ou encadré par un coach musical. Partant de ce fait, vous aurez également l’opportunité de vous produire sur scène à l’occasion de nombreux concerts organisés par CHORUS tout au long de l’année, ce qui n’est toutefois pas obligatoire.

        <h4><strong>Instruments</strong></h4>
        Guitare – Basse électrique – Clavier – Batterie – Saxophone – Trompette – Trombone

        <h4><strong>En bref, voici les objectifs des Ateliers Bands</strong></h4>
        • Permettre aux élèves-musiciens de se réunir autour d’une passion commune : la musique.<br/>
        • Apprendre à pratiquer la musique de manière collective, notamment avec des élèves-musiciens jouant d’autres instruments.<br/>
        • Jouer Live : concert d’élèves de 3 heures une fois par mois au <i>Wanch bar - 54 Jaffe road, Wanchai.</i><br/>
        • Jouer Live : Divers concerts durant l’année.</p>

    </div>
      
      <br/>
        
    <div class="cadre">
        <p><h4>Où :</h4>
        MUSICLAND – 19 Tung Lo Wan Road – Causeway Bay
        <p><h4>Mode d’apprentissage :</h4>
        Cours en petit groupe</p>
        <p><h4>Niveau :</h4>
        Moyen à confirmé<br>
        </p>
        <p><h4>Durée :</h4>
            1h de cours par semaine. Les programmes sont définis sur la base d’un semi-trimestre. Il est possible de rejoindre un groupe en cours de semi-trimestre.</p>
            <div class="item">
                <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
            </div>

    </div>
<br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
