	<ion-view view-title=" Cours de fran&ccedil;ais" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-francais" class="page-francais">
		<div class="padding">
    <div class="cadre">
        <h3>COURS DE FRANÇAIS</h3>
        <h5><strong>Vous cherchez des cours de français à Hong Kong ? CHORUS propose des cours en groupe ou individuels.</h5>

        

        <p>
            
            <h4>Lycée</h4>
            Seconde et première (préparation au baccalauréat)<br/>
            <br/>
            <h4>Collège</h4>
            4ème et 3ème (préparation au brevet)<br/>
            <br/>
            <h4>Cours de soutien en français</h4>
            Primaire<br/>
            <br/>
            <h4>FLAM</h4>
            Cours de français langue maternelle pour enfant hors cursus français<br/>
            <br/>
            <h4>FLE – enfant et adulte</h4>
            Préparation aux examens du DELF sur demande<br/>
            <br/>
            Lecture – apprentissage
            Approche syllabique
            Étude des phonèmes à travers les comptines et les chansons
            Support informatique
            Jeux

        </p>

    </div>
      <br/>
        
    <div class="cadre">
        <h4>Où :</h4>
        Tai Tam<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en petit groupe ou individuel<br/>
        <br/>
        <h4>Durée :</h4>
        1h – 1h30 de cours par semaine.<br/>
        <br/>
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
<br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
