	<ion-view view-title=" Cours de guitare" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-guitare" class="page-guitare">
		<div class="padding">
    <div class="cadre">
        <h3>COURS DE GUITARE</h3>
        <h5><strong>Vous souhaitez partager votre passion de la guitare avec d’autres élèves musiciens et guitaristes ? Que vous soyez débutant ou confirmé, les cours de guitare à Hong Kong vous permettront d’acquérir ou d’approfondir des bases solides, tout cela en groupe.</h5>

        

        <p>Premièrement, les cours en groupes rendent l’apprentissage de la guitare plus motivant. En effet, La rencontre d’autres guitaristes, l’échange d’idées ainsi que la possibilité de jouer les pièces musicales à plusieurs font du cours en groupe un moyen privilégié d’apprendre et avant tout de perfectionner l’instrument. Alors pour les plus motivés, ces cours pourront être aussi l’occasion de participer aux divers concerts organisés pendant l’année.
        <br/><br/>
        Les élèves sont également rassemblés en groupes de niveau.</p>

    </div>
      <br/>
        
    <div class="cadre">
        <h4>Où :</h4>
        <strong>Samedi </strong>: MUSICLAND – 19 Tung Lo Wan Road – Causeway Bay<br/>
        <strong>Mardi, mercredi et vendredi :</strong> Stanley Sports Center<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en petit groupe<br/>
        <br/>
        <h4>Niveau :</h4>
        Débutant à confirmé<br/>
        <br/>
        <h4>Durée :</h4>
        Chaque cours dure une heure. Les programmes sont définis sur la base d’un demi-trimestre. Il est possible de rejoindre un groupe en cours de programme.<br/>
        <br/>
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
<br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
