	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/chorus/actualites" >
					<i class="icon ion-alert-circled" ></i>
					<p>{{ "Actualit&eacute;s" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/chorus/bands" >
					<i class="icon ion-music-note" ></i>
					<p>{{ "Ateliers Bands" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/chorus/guitare" >
					<i class="icon ion-ios-musical-note" ></i>
					<p>{{ "Guitare" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/chorus/chant" >
					<i class="icon ion-mic-c" ></i>
					<p>{{ "Chant" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/chorus/theatreenfant" >
					<i class="icon ion-chatbubbles" ></i>
					<p>{{ "Th&eacute;&acirc;tre : enfants" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-900-bg ink"  ng-href="#/chorus/theatreadulte" >
					<i class="icon ion-chatboxes" ></i>
					<p>{{ "Th&eacute;&acirc;tre : adultes" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light energized-bg ink"  ng-href="#/chorus/maths" >
					<i class="icon ion-pie-graph" ></i>
					<p>{{ "Math&eacute;matiques" | translate }}</p>
				</a>
				<a class="col-33 no-border light energized-900-bg ink"  ng-href="#/chorus/physiquechimie" >
					<i class="icon ion-erlenmeyer-flask" ></i>
					<p>{{ "Sciences physiques / Chimie" | translate }}</p>
				</a>
				<a class="col-33 no-border light assertive-bg ink"  ng-href="#/chorus/francais" >
					<i class="icon ion-ios-book" ></i>
					<p>{{ "Fran&ccedil;ais" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light assertive-900-bg ink"  ng-href="#/chorus/philosophie" >
					<i class="icon ion-flash" ></i>
					<p>{{ "Philosophie" | translate }}</p>
				</a>
				<a class="col-33 no-border light royal-bg ink"  ng-href="#/chorus/coding" >
					<i class="icon ion-ios-game-controller-b" ></i>
					<p>{{ "Game coding" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
