	<ion-view view-title=" Math&eacute;matiques" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-maths" class="page-maths">
		<div class="padding">
    <div class="cadre">
        <h3>COURS DE MATHÉMATIQUES</h3>
        <h5><strong>Vous cherchez des cours de mathématiques à Hong Kong ? CHORUS propose des groupes de travail autour des mathématiques. De la 6ème à la Terminale, les élèves révisent et approfondissent les programmes abordés en cours.</h5>

        

        <p>Les mathématiques peuvent parfois représenter un obstacle au développement intellectuel harmonieux de l’adolescent. Notamment pour l’élève qui a perdu pied ainsi que pour celui qui vise l’excellence, les mathématiques sont souvent le problème à régler. La philosophie de CHORUS est avant tout l’épanouissement des enfants par la pratique de disciplines artistiques et intellectuelles. En conséquence, les cours de mathématiques à Hong Kong occupent donc naturellement une place privilégiée dans notre pédagogie.<br/>
            Les groupes de maths sont par ailleurs répartis en deux catégories :<br/>
            – le programme officiel : les élèves suivent le programme de l’éducation nationale<br/>
            -le programme avancé : les élèves ont initiés au programme de l’année supérieure. La pédagogie avancée repose sur l’idée que les programmes actuels sont insuffisants pour bien préparer les futurs élèves qui visent une certaine excellence. De fait, l’enseignement est axé sur l’après-bac, ayant notamment pour objectif les classes préparatoires ou écoles avec prépa intégrée.</p>

    </div>
      <br/>
        
      <div class="cadre">
        <h3>Programmes avancés</h3>
        <h5><strong>Vous cherchez des cours de mathématiques à Hong Kong ? CHORUS propose des groupes de travail autour des mathématiques. De la 6ème à la Terminale, les élèves révisent et approfondissent les programmes abordés en cours.</h5>

        

        <p>Les cours de mathématiques à Hong Kong en programmes avancés s’adressent en particulier aux bons ou aux très bons élèves. En résumé, le principe est de dépasser le programme officiel pour mieux se préparer à l’après-bac.<br/>
            <br/><br/>
            Classes enseignées :<br/><br/>
             
            
            Collège<br/>
            3ème avancée (programme de seconde adapté aux élèves de troisième)<br/>
            <br/>
            Lycée<br/>
            Seconde avancée (programme de 1ère adapté aux élèves de seconde)<br/>
            1ère S avancée (programme de terminale S adapté aux élèves de 1ère S)<br/>
            Term S avancée (programme adapté pour futurs élèves de classes préparatoires )<br/>
            <br/>
            1ère S : le programme porte d’abord sur les chapitres communs à la 1ère S et à la terminale S. Ainsi, ce programme permet aux élèves d’acquérir une vision globale des chapitres sans être toutefois gêné par les coupes successives imposées par les multiples réformes (ex : le raisonnement par récurrence et les exponentielles sont abordés dans ce groupe avancé).<br/>
            <br/>
            Terminale S : le programme porte en premier lieu sur les chapitres et notions supprimés par la réforme de 2012. Ensuite, certains chapitres sont approfondis bien au delà du programme pré-2012 pour faire le lien avec les classes préparatoires (ex : fonctions usuelles, équations différentielles, calcul d’intégrales).</p>

    </div>
      <br/>
      
      
    <div class="cadre">
        <h4>Où :</h4>
        Stanley Sports Center (ou visioconférence)<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en petit groupe<br/>
        <br/>
        
        <h4>Durée :</h4>
        1h ou 1h30 de cours par semaine.<br/>
        <br/>
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
<br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
