	<ion-view view-title=" Game Coding" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-coding" class="page-coding">
		<div class="padding">
    <div class="cadre">
        <h3>GAME CODING</h3>
        <h5><strong>Vous cherchez des cours de coding en ligne ?<br>
            Vous avez envie de vous initier à la création de jeux vidéos mais vous n’avez pas de notions de programmation ?</h5>

        

        <p>Nous proposons pour cela d’utiliser Unity, un des moteurs les plus importants pour la création de jeux sur toutes les plateformes (notamment PS4, Xbox, PC, IOS, Android…).<br>
            En effet, Unity&nbsp;est un logiciel professionnel très puissant que nous utiliserons dans un premier temps sans produire une seule ligne de code.<br>
            Nous explorerons les possibilités d’Unity&nbsp;pour concevoir nos premiers jeux vidéos d’abord en 2D puis 3D. Nous initierons alors progressivement à la programmation en C#.<br>
            Cette formation en français (visioconférence) est interactive et concrète autour de projets réels.</p>
            L’ensemble des logiciels nécessaires à la formation est gratuit (y compris&nbsp;Unity).<br/>
            <br/>
            <h4><strong>Le programme</strong></h4>
            La découverte du moteur de jeu&nbsp;Unity,<br>
            La création des éléments 2D et 3D, la programmation de leur comportements et interactions.<br/>
            L’initiation au langage de programmation C#</p>

    </div>
      
      <br/>
        
    <div class="cadre">
        <h4>Où :</h4>
        Uniquement en visioconférence<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en petit groupe<br/>
        <br/>
        <h4>Niveau :</h4>
        Débutant à confirmé<br/>
        <br/>
        <h4>Durée :</h4>
        1h30 de cours par semaine. Les programmes sont définis sur la base d’un semi-trimestre.<br/>

        <h4>Pré-requis :</h4>
        Posséder et maîtriser un PC (à partir de windows 7) ou un MAC (OSX à partir 10.8).<br>
        Une culture élémentaire du jeu vidéo et un goût affirmé pour la créativité.<br>
        Primaire – secondaire – adulte<br>
        Il n’est pas nécessaire de savoir coder.<br>
        La connaissance d’outils graphiques n’est pas indispensable mais reste un plus.<br><br>
        
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
    <br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
