	<ion-view view-title=" Atelier th&eacute;&acirc;tre : adultes" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-theatreadulte" class="page-theatreadulte">
		<div class="padding">
    <div class="cadre">
        <h3>ATELIER THÉÂTRE ADULTES</h3>
        <h5><strong>Vous cherchez des cours de théâtre à Hong Kong ? </h5>

        

        <p>Les ateliers de théâtre adulte ont lieu chaque semaine : le mardi de 20h à 22h à Wanchai.</p>

    </div>
      <br/>
        
    <div class="cadre">
        <h4>Où :</h4>
        Wanchai<br/>
        <br/>
        
        <h4>Mode d’apprentissage :</h4>
        Cours en groupe<br/>
        <br/>
        <h4>Age :</h4>
        à partir de 18 ans<br/>
        <br/>
        <h4>Durée :</h4>
        2h de cours par semaine. Ainsi les programmes sont définis sur la base d’un trimestre. Il est par ailleurs possible de rejoindre un groupe en cours de trimestre.<br/>
        <br/>
        <div class="item">
            <a class="button button-assertive" ng-href="#/chorus/tarifs">voir les tarifs</a>
        </div>

    </div>
<br/><br/><br/>

</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
