	<ion-view view-title=" Tarifs" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-tarifs" class=" page-tarifs">
		<div class="padding">
<div class="cadre" style="text-align: center;">
<h3>TARIFS</h3>
<h5><strong>Pour acc&eacute;der &agrave; nos tarifs &agrave; jour, merci de vous connecter sur notre site en cliquant ci-dessous : </strong></h5>
  
<a href="http://www.chorus.hk/tarifs/"><img ng-src="data/images/logo.png" /><br/>www.chorus.hk</a></div>
<br /><br /><br /></div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
